# Duckdb データ確認

In [22]:
import duckdb
import pandas as pd
import polars as pl

pd.options.display.max_columns = None
pd.options.display.max_rows = 30


def query_pl(SQL):
    conn = duckdb.connect("awesome.duckdb", read_only=True)
    df = pl.from_arrow(conn.execute(SQL).arrow())
    conn.close()
    return df


def query_df(SQL):
    conn = duckdb.connect("awesome.duckdb", read_only=True)
    df = conn.execute(SQL).df()
    conn.close()
    return df

In [2]:
SQL = """
SELECT schema_name
FROM information_schema.schemata
"""

query_df(SQL)

shape: (5, 1)
┌────────────────────┐
│ schema_name        │
│ ---                │
│ str                │
╞════════════════════╡
│ work               │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ information_schema │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ pg_catalog         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ main               │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ temp               │
└────────────────────┘

In [3]:
SQL = """
SELECT table_schema, table_name
FROM information_schema.tables
"""

query_df(SQL)

shape: (7, 2)
┌──────────────┬────────────────────┐
│ table_schema ┆ table_name         │
│ ---          ┆ ---                │
│ str          ┆ str                │
╞══════════════╪════════════════════╡
│ work         ┆ reserve            │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ work         ┆ production         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ work         ┆ hotel              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ work         ┆ customer           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ work         ┆ production_missing │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ work         ┆ holiday_mst        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ work         ┆ month_mst          │
└──────────────┴────────────────────┘

In [7]:
SQL = """
SELECT *
FROM work.reserve
"""
query_df(SQL)

shape: (4030, 9)
┌──────────┬───────┬───────────┬────────────┬─────┬────────────┬────────────┬──────────┬───────────┐
│ reserve_ ┆ hotel ┆ customer_ ┆ reserve_da ┆ ... ┆ checkin_ti ┆ checkout_d ┆ people_n ┆ total_pri │
│ id       ┆ _id   ┆ id        ┆ tetime     ┆     ┆ me         ┆ ate        ┆ um       ┆ ce        │
│ ---      ┆ ---   ┆ ---       ┆ ---        ┆     ┆ ---        ┆ ---        ┆ ---      ┆ ---       │
│ str      ┆ str   ┆ str       ┆ datetime[μ ┆     ┆ time       ┆ date       ┆ i32      ┆ i32       │
│          ┆       ┆           ┆ s]         ┆     ┆            ┆            ┆          ┆           │
╞══════════╪═══════╪═══════════╪════════════╪═════╪════════════╪════════════╪══════════╪═══════════╡
│ r1       ┆ h_75  ┆ c_1       ┆ 2016-03-06 ┆ ... ┆ 10:00:00   ┆ 2016-03-29 ┆ 4        ┆ 97200     │
│          ┆       ┆           ┆ 13:09:42   ┆     ┆            ┆            ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ r2       ┆ h_219 ┆ c_1       ┆ 2016-07-16 ┆ ... ┆ 11:30:00   ┆ 2016-07-21 ┆ 2        ┆ 20600     │
│          ┆       ┆           ┆ 23:39:55   ┆     ┆            ┆            ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ r3       ┆ h_179 ┆ c_1       ┆ 2016-09-24 ┆ ... ┆ 09:00:00   ┆ 2016-10-22 ┆ 2        ┆ 33600     │
│          ┆       ┆           ┆ 10:03:17   ┆     ┆            ┆            ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ r4       ┆ h_214 ┆ c_1       ┆ 2017-03-08 ┆ ... ┆ 11:00:00   ┆ 2017-03-30 ┆ 4        ┆ 194400    │
│          ┆       ┆           ┆ 03:20:10   ┆     ┆            ┆            ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ...      ┆ ...   ┆ ...       ┆ ...        ┆ ... ┆ ...        ┆ ...        ┆ ...      ┆ ...       │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ r4027    ┆ h_97  ┆ c_999     ┆ 2017-09-29 ┆ ... ┆ 10:30:00   ┆ 2017-10-10 ┆ 2        ┆ 41800     │
│          ┆       ┆           ┆ 05:24:57   ┆     ┆            ┆            ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ r4028    ┆ h_27  ┆ c_999     ┆ 2018-03-14 ┆ ... ┆ 11:30:00   ┆ 2018-04-04 ┆ 2        ┆ 74800     │
│          ┆       ┆           ┆ 05:01:45   ┆     ┆            ┆            ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ r4029    ┆ h_48  ┆ c_1000    ┆ 2016-04-16 ┆ ... ┆ 09:30:00   ┆ 2016-05-13 ┆ 4        ┆ 540000    │
│          ┆       ┆           ┆ 15:20:17   ┆     ┆            ┆            ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ r4030    ┆ h_117 ┆ c_1000    ┆ 2016-06-06 ┆ ... ┆ 09:00:00   ┆ 2016-07-09 ┆ 1        ┆ 44100     │
│          ┆       ┆           ┆ 08:16:51   ┆     ┆            ┆            ┆          ┆           │
└──────────┴───────┴───────────┴────────────┴─────┴────────────┴────────────┴──────────┴───────────┘

---
## duckdb で遊ぶ

In [23]:
SQL = """
SELECT *
FROM work.reserve
"""

df_reserve = query_df(SQL)

In [19]:
SQL = """
SELECT *
FROM UNNEST(generate_series(date '2021-04-01', current_date, INTERVAL '1' month)) AS t(date_col)
"""

duckdb.query(SQL)

---------------------
--- Relation Tree ---
---------------------
Subquery

---------------------
-- Result Columns  --
---------------------
- date_col (TIMESTAMP)

---------------------
-- Result Preview  --
---------------------
date_col
TIMESTAMP
[ Rows: 10]
2021-04-01 00:00:00
2021-05-01 00:00:00
2021-06-01 00:00:00
2021-07-01 00:00:00
2021-08-01 00:00:00
2021-09-01 00:00:00
2021-10-01 00:00:00
2021-11-01 00:00:00
2021-12-01 00:00:00
2022-01-01 00:00:00

In [25]:
SQL = """
SELECT *
FROM df_reserve
"""

duckdb.query(SQL)

---------------------
--- Relation Tree ---
---------------------
Subquery

---------------------
-- Result Columns  --
---------------------
- reserve_id (VARCHAR)
- hotel_id (VARCHAR)
- customer_id (VARCHAR)
- reserve_datetime (TIMESTAMP)
- checkin_date (TIMESTAMP)
- checkin_time (VARCHAR)
- checkout_date (TIMESTAMP)
- people_num (INTEGER)
- total_price (INTEGER)

---------------------
-- Result Preview  --
---------------------
reserve_id	hotel_id	customer_id	reserve_datetime	checkin_date	checkin_time	checkout_date	people_num	total_price
VARCHAR	VARCHAR	VARCHAR	TIMESTAMP	TIMESTAMP	VARCHAR	TIMESTAMP	INTEGER	INTEGER
[ Rows: 10]
r1	h_75	c_1	2016-03-06 13:09:42	2016-03-26 00:00:00	10:00:00	2016-03-29 00:00:00	4	97200
r2	h_219	c_1	2016-07-16 23:39:55	2016-07-20 00:00:00	11:30:00	2016-07-21 00:00:00	2	20600
r3	h_179	c_1	2016-09-24 10:03:17	2016-10-19 00:00:00	09:00:00	2016-10-22 00:00:00	2	33600
r4	h_214	c_1	2017-03-08 03:20:10	2017-03-29 00:00:00	11:00:00	2017-03-30 00:00:00	4	194400
r5	h_16	c_1	2017-09-05 19:50:37	2017-09-22 00:00:00	10:30:00	2017-09-23 00:00:00	3	68100
r6	h_241	c_1	2017-11-27 18:47:05	2017-12-04 00:00:00	12:00:00	2017-12-06 00:00:00	3	36000
r7	h_256	c_1	2017-12-29 10:38:36	2018-01-25 00:00:00	10:30:00	2018-01-28 00:00:00	1	103500
r8	h_241	c_1	2018-05-26 08:42:51	2018-06-08 00:00:00	10:00:00	2018-06-09 00:00:00	1	6000
r9	h_217	c_2	2016-03-05 13:31:06	2016-03-25 00:00:00	09:30:00	2016-03-27 00:00:00	3	68400
r10	h_240	c_2	2016-06-25 09:12:22	2016-07-14 00:00:00	11:00:00	2016-07-17 00:00:00	4	320400